/* ... */

/* header */

header {
  background-color: var(--primary);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  color: var(--text-color-light);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu li {
  margin-left: 10px;
  border-radius: 3px;
  padding: 5px 15px;
  transition: background-color 0.2s;
}

.header-menu li:hover {
  background-color: var(--primary-dark);
}

.header-mobile {
  display: none;
}

.header-mobile-list {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  color: var(--text-color);
  background: var(--background-light);
}

.show {
  display: block;
}

.header-mobile-list li {
  padding: 1rem;
}

.header-mobile-list li.active {
  color: white;
  font-weight: 700;
}

.active {
  background-color: var(--primary-dark);
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color-light);
}

li.header-profile {
  font-weight: 700;
  background-color: var(--dark);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

li.header-profile:hover {
  background-color: var(--dark);
}

/* ... */

/* ... */
@media only screen and (max-width: 800px) {
  .header-menu {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .form-container {
    width: 100%;
  }
  .content  {
    padding:1rem;
  }
}